build/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/Debug/
/Release/
/Library/
/Lib_EV3/
/Lib_ARM_9328/
/Lib_ARM_OPOS/
/Lib_ARM_EV3_Linaro/
/libCMAKE/
/Lib_ARM_EV3_Linaro_gnueabihf/
/Lib_EV3-arm-2014.05-29/
